body {
  /* background-image: url("https://images.unsplash.com/photo-1475965894430-b05c9d13568a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9"); */

  background: linear-gradient(to bottom right, #66ffcc 10%, #3366ff 100%);
  height: 100vh;
  background-repeat: no-repeat;
  /* norepeat cover;
  background-size: cover; */

  /* 

  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */

}


h2 {
  font-weight: 700;
  padding: 0 2rem;
}

.jumbotron {
  background: white;
  border: lightgrey 1px solid;
}

.btn-success,
.btn-info,
.survey {
  padding: 1.5rem;
  font-size: 2rem;
}

.btn-block {
  width: 80%;
  margin: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: white;
  /* background-color: lightgray; */
  font-size: 1.5rem;
  padding-top: 4rem;
  height: 10rem;
}

.questions {
  text-align: left;
  padding: 20px;
  width: 100%;
}

.question {
  margin-top: 1.5rem;
}

.slider {
  -webkit-appearance: none;
  height: 2rem;
  background: beige;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 30px;
  /* Set a specific slider handle width */
  height: 30px;
  /* Slider handle height */

  border-radius: 50%;
  background: rgb(0, 167, 56);

  cursor: pointer;
  /* Cursor on hover */
}

.card-title {
  margin: 25px 0;
  width: 100%;
  padding: 0 1.2rem;
}